@model IEnumerable<BabyStore.Models.Category>

@{
    ViewBag.Title = "Categories";
}

<h2>@ViewBag.Title</h2>

@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <p class="large-bold-text">
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td class="large-text">
                @Html.ActionLink(item.Name, "Index", "Products", new { category = item.Name }, null)
            </td>
            <td class="large-bold-text">
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    @Html.Raw(" | ")
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                }
            </td>
        </tr>
    }

</table>
